@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #f07b3f;
  /* The orange color from the button */
  --text-dark: #1f1f1f;
  --text-light: #6c757d;
  --bg-light: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--bg-light);
  overflow-x: hidden;
}